.list-check {
  list-style: none;
}
.list-check > li {
  position: relative;
}
.list-check > li::after {
    background-color: #555f69;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPScxLjEnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgeG1sbnM6eGxpbms9J2h0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsnIHdpZHRoPScxNicgaGVpZ2h0PScxNicgdmlld0JveD0nMCAwIDE2IDE2Jz48cGF0aCBmaWxsPScjZmZmZmZmJyBkPSdNMTQgMi41bC04LjUgOC41LTMuNS0zLjUtMS41IDEuNSA1IDUgMTAtMTB6Jz48L3BhdGg+PC9zdmc+");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 60% 60%;
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    left: -25px;
    top: .1em;
}
.icon-pdf {
  background-image: url("/images/icons/pdf_file.svg");
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  margin-bottom: -10px;
}
.product_category {
  line-height: 1em;
  padding-bottom: 0.5em;
}
.product-table {
    text-align: center;
    width: 100%;
}
.product-table ul {
  list-style: none;
  padding-left: 0;
}
dt {
  font-weight: bold;
}
@media only screen and (max-width: 900px) {
	#pageProduct #tabs-menu{
		display: none;
	}
    .profile-content .md-layout.content{
		margin-top: 20px
	}
	.md-list-item .md-ripple,
	button .md-ripple{
		height: 45px;
	}
	.VueCarousel-pagination{
		display:none
	}
	.md-toolbar .md-toolbar-row {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}

@media screen and (min-width: 901px) and (max-width:1600px){
	.md-tabs-navigation.activeTabs{
		padding-left: 5vw !important;
	}
}